.tiptap.ProseMirror {
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  p > img {
    display: inline-block;
  }

  img:not([data-type="emoji"] img).ProseMirror-selectednode {
    outline: 0.125rem solid var(--tt-brand-color-500);
    border-radius: var(--tt-radius-xs, 0.25rem);
  }

  // Thread image handling
  .tiptap-thread img {
    margin: 0;
  }
}
